@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  flex-direction: column;
  gap: space.$s6;
  padding: space.$s6 space.$s4;
  background: color.$gray-50;
  color: color.$gray-400;
  display: flex;
  align-items: center;

  // mobile first approach, we overwrite it via this media query
  @media (min-width: breakpoint.$desktop) {
    height: 3.75rem;
    padding: 0 space.$s8;
    flex-direction: row;
  }
}

.version {
  flex: 1;
  order: 3;
  color: color.$gray-400;
}

.links {
  display: flex;
  gap: space.$s6;
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
    color: color.$gray-500;
  }
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

// @media (max-width: breakpoint.$mobile) {
//     .footer {
//       height: auto;
//     }
//     .footerContainer {
//       flex-direction: column;
//       gap: px;
//     }
//     .linksList {
//       order: 1;
//     }

//     .appVersion {
//       order: 3;
//     }

//     .footerLogo {
//       order: 2;
//     }
//   }
// .footerContainer {
//   box-sizing: border-box;
//   background-color: color.$gray-50;
//   color: color.$gray-400;
//   text-align: center;
//   overflow: hidden;
//   min-width: fit-content;
//   height: 60px;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 space.$s8;

//   //   @media (min-width: breakpoint.$desktop) {
//   //     flex-direction: row;
//   //     gap: space.$s10;
//   //   }

//   //   @media(min-width: breakpoint.$mobile){
//   //     height: auto;
//   //     flex-direction: column;
//   //   }
// }

// .footerText {
//   font-size: font.$text-md-regular;
//   color: color.$gray-400;

//   @media (min-width: breakpoint.$desktop) {
//     text-align: left;
//   }
// }

// .linksList {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   gap: space.$s10;
//   font-size: inherit;
//   color: inherit;
//   list-style: none;

//   a {
//     text-decoration: none;
//     color: color.$gray-400;
//   }
// }

// // @media (min-width: breakpoint.$desktop) {
// //   flex-direction: row;
// //   gap: space.$s10;
// // }

// .footerLogo {
//   display: flex;
//   justify-content: flex-end;

//   //   margin-inline-start: space.$s6;

//   @media (min-width: breakpoint.$desktop) {
//     margin: space.$s10;
//   }
// }
