@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footerContainer {
  overflow: hidden;
  background-color: color.$gray-50;
  color: color.$gray-400;
  min-width: fit-content;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 space.$s8 0 space.$s8;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    gap: space.$s10;
  }
}

.footerText {
  font-size: font.$text-md-regular;
  color: color.$gray-400;

  @media (min-width: breakpoint.$desktop) {
    text-align: left;
  }
}

.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: space.$s10;
  font-size: inherit;
  color: inherit;
  list-style: none;

  a {
    text-decoration: none;
    color: color.$gray-400;
  }
}

// @media (min-width: breakpoint.$desktop) {
//   flex-direction: row;
//   gap: space.$s10;
// }

.footerLogo {
  display: flex;
  justify-content: flex-end;

  //   margin-inline-start: space.$s6;

  @media (min-width: breakpoint.$desktop) {
    margin: space.$s10;
  }
}
